body{
    font-family: Helvetica;
}

.footer-copyright {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    background-color: #00BFFF;
}


h1 {
    font-size: 50px;
}

h5 { 
    height: 300px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.sympBtn {
    width: 280px;
    height: 200px;
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    background-color: #00BFFF;
    margin:10px 5px;
}

button:hover:not(.active) {
    background-color: #00a9e2;
}

button.active {
    color: white;
    background-color: #00BFFF;
}

.sympGo {
    height: 28px;
    font-size: 20px;
    background-color: #00BFFF;
    width: 40px;
    color: white;
}

.sympLevel {
    height: 40px;
    font-size: 30px;
    background-color: #00BFFF;
    width: 140px;
    color: white;
}

.sympInput {
    width: 400px;
    height: 24px;
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: ;
    color: white;
    background-color: #00BFFF;
}

p {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li {
    float: left;
    height:;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #00BFFF;
}

.loginBox {
    height: 100px;
    width: 300px;
    background-color: #00BFFF: 
}

#ex1 {
    font-size:20px;
}

